[submodule "obliv-c"]
	path = obliv-c
	url = https://github.com/samee/obliv-c
[submodule "absentminded-crypto-kit"]
	path= absentminded-crypto-kit
	url ="https://bitbucket.org/jackdoerner/absentminded-crypto-kit"
	